* {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
body {
  direction: rtl;
  text-align: right;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* --------------------------------general------------------------------------------------------ */
.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.navbar .container {
  transition: all 0.3s ease-in-out;
}
.navbar a {
  transition: all 0.3s ease-in-out;
  color: #fff;
}
.logo {
  width: 25%;
}
button a {
  color: #000;
}
.navbar.active {
  background-color: aliceblue;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.navbar.active a {
  color: #000;
}
.navbar a.active,
.navbar a:hover {
  font-weight: bold;
  color: #df3d2b;
  background-color: aliceblue;
  border-radius: 1.5rem;
}
.call-us {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #db2626;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 550;
  line-height: 1;
  padding: 1rem 1.2rem;
  text-align: center;
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
}

.white-nav {
  background-color: aliceblue !important;
}

.white-nav a {
  color: black;
}

/* .white-nav ul li a {
  color: black;
} */

/* ---------------------------------------------navbar-------------------------------------------------------- */
.section_home {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100vh;
  margin-bottom: 100px;
}
.svg_home #Path_2 {
  position: absolute;
  width: 90%;
  height: 90%;
}
.home_item {
  position: absolute;
  color: aliceblue;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -70%);
  width: 37%;
  margin-right: auto;
  z-index: 1;
}
.home-item h2 {
  font-size: 45px;
}
@media all and (max-width: 750px) {
  .home_item {
    color: #000;
    transform: translate(-50%, 20%);
    width: 85%;
  }
}
/* ---------------------------------------------section-home-1------------------------------------------------- */
.section_home_2 {
  margin-bottom: 80px;
}
.head_section_home_2 {
  position: relative;
  text-align: center;
  padding: 5px 80px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.section_home_2_item {
  position: relative;
  margin-top: 30px;
}
.section_home_2_item p {
  margin: 50px 0;
}
.section_home_2_item button {
  position: absolute;
  cursor: pointer;
  left: 0;
}
.with_section_title img {
  width: 55%;
  margin-bottom: -70px;
}
.behind_home_title {
  position: relative;
}
.behind_home_title img {
  position: absolute;
  z-index: -2;
  width: 45%;
  left: 0;
  margin-top: -460px;
}
@media all and (max-width: 750px) {
  .head_section_home_2 {
    padding: 5px 32px;
    margin-bottom: 35px;
  }
  .section_home_2_item {
    margin-top: 15px;
  }
  .section_home_2_item p {
    margin: 30px 0;
    color: #fff;
  }
  .with_section_title img {
    width: 35%;
    margin-bottom: -70px;
  }
  .behind_home_title img {
    width: 100%;
    margin-top: -455px;
  }
  .section_home_title {
    color: #fff;
  }
}
/* ---------------------------------------------section-home-2------------------------------------------------- */

.card {
  box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
  height: 410px;
  border-radius: 20px;
  overflow: hidden;
}
.card-title {
  text-align: center;
}
.card-text {
  margin-bottom: 10px;
}
#more {
  display: none;
}
.read_more {
  cursor: pointer;
  color: #db2626;
}
.card {
  position: relative;
}
.svg-span {
  position: absolute;
  left: 0;
}
.date-card {
  right: 0;
}

/* ---------------------------------------------section-home-3------------------------------------------------- */

/* .head_section_home_4 {
  position: relative;
  text-align: center;
  padding: 5px 80px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
} */

/* ---------------------------------------------section-home-4------------------------------------------------- */
.confused {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  margin-bottom: 10px;
}
/* @media all and (max-width: 400px) {
  .confused {
    flex-direction: column;
  }
} */
/* ---------------------------------------------section-home-5------------------------------------------------- */
.video img {
  width: 60%;
  margin: auto;
  display: block;
}
/* ---------------------------------------------section-home-6------------------------------------------------ */
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardio {
  margin: 30px auto;
  width: 200px;
  height: 75px;
  border-radius: 15px 50px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}
.cardio:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

@media all and (max-width: 500px) {
  .cards-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
.countin {
  position: relative;
}
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -27%);
}
.icon a i {
  color: #df3d2b;
}
.count {
  margin-top: 5px;
}
.count p {
  color: #df3d2b;
  font-size: 1rem;
}
.count h5 {
  color: #df3d2b;
}
/* ---------------------------------------------section-home-7------------------------------------------------ */

.company {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media all and (max-width: 500px) {
  .company {
    /* On small screens, we are no longer using row direction but column */
    display: block;
    margin: 10px auto;
    width: 50%;
  }
}
/* ---------------------------------------------section-home-8------------------------------------------------ */

.footer-10 {
  position: relative;
  color: #fff;
  padding: 7rem 0;
  background-color: #a09f9f6b;
}
.footer-10 .cta {
  padding: 25px;
  background-color: #db2626;
  border-radius: 0.6rem;
  top: -160px;
  position: relative;
}
.subscribe-form {
  border-radius: 40px;
  background: #fff;
  padding: 8px;
  -webkit-box-shadow: 0px -12px 21px -15px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -12px 21px -15px rgb(0 0 0 / 10%);
}
.subscribe-form .form-group {
  position: relative;
  margin-bottom: 0;
  border-radius: 0;
}
.subscribe-form .form-group input {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  color: rgba(0, 0, 0, 0.3) !important;
  font-size: 12px;
  height: 50px;
  border-radius: 0;
}
.subscribe-form .form-group input:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.subscribe-form .form-group .submit {
  color: #fff !important;
  display: block;
  width: 150px;
  height: 56px;
  font-size: 14px;
  background: #db2626 !important;
  border: none;
  text-transform: uppercase;
  border-radius: 40px;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++.footer-10 .cta h2, */
.footer-10 .cta h3 {
  line-height: 1.5;
}
.footer-10 .cta h3 {
  font-size: 14px;
}
.footer-10 .cta h2,
.footer-10 .cta h3 {
  line-height: 1.5;
}
.footer-10 .footer-logo {
  letter-spacing: 0.1rem;
}
.footer-10 .links li {
  margin-bottom: 10px;
  line-height: 1.5;
  display: block;
}
.footer-10 .links li a {
  color: #707070;
  text-decoration: none;
}
.footer-10 .links li a:hover {
  color: #fff;
}
.footer-10 h3 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.5;
  color: #000;
}
.footer-10 .social li a {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
  border-color: #707070;
  color: #707070;
}
.footer-10 .social li {
  display: inline-block;
  position: relative;
}

.footer-10 .social li a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.list-unstyled {
  padding-right: 0;
  list-style: none;
}
.img_footer img {
  width: 90%;
}
/* صفحة الفيديو */
.responsive {
  display: flex;
  justify-content: center;
}

@media all and (max-width: 500px) {
  .responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .responsive_item {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/* main {
  width: calc(100% - 3rem);
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1.5rem;
} */
.ddd {
  position: relative;
  margin: 40px;
}
.ddd p {
  position: absolute;
  font-size: larger;
  padding-right: 100px;
  margin-top: -50px;
}
@media all and (max-width: 500px) {
  .ddd p {
    padding-right: 15px;
    margin-top: -40px;
  }
}
.our_img img {
  width: 100%;
}
.dev_9 {
  width: 100%;
  max-height: 220vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dev_9 .re {
  position: relative;
  width: 960px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
  box-shadow: inset 0 0 8px 2px rgb(9, 9, 15);
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* هذي عن الظل الداخلي */
.dev_10 {
  width: 100%;
  min-height: 220vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.reshadow {
  position: relative;
  width: 960px;
  background: rgb(247, 243, 243);
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
  box-shadow: inset 0 0 8px 2px rgb(9, 9, 15);
}
.reshadow .inside_2 {
  margin: 10px auto;
}
.share_icon {
  background: rgb(252, 249, 249);
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  box-shadow: inset 0 0 8px 2px rgb(9, 9, 15);
}

.share_icon {
  position: absolute;
  width: 90%;
}
.ppp p {
  position: absolute;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 30px;
  margin-top: -80px;
}
.inside {
  height: 40vh;
}
.inside p {
  line-height: 1.5;
  font-size: 17px;
}

@media all and (max-width: 500px) {
  .ddd p {
    padding-right: 15px;
    margin-top: -40px;
  }
}

/* -/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/- */
.section_not_home {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100vh;
  margin-bottom: 200px;
}
.svg_home #Path_2 {
  position: absolute;
  width: 90%;
  height: 90%;
}
.home_item {
  position: absolute;
  color: aliceblue;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -70%);
  width: 37%;
  margin-right: auto;
  z-index: 1;
}
@media all and (max-width: 750px) {
  .home_item {
    color: #000;
    transform: translate(-50%, 20%);
    width: 85%;
  }
}
/* -/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/- */
/* صفحة حولنا */

.nolayer img {
  width: 75%;
}
.say_img {
  position: relative;
}
.layer img {
  position: absolute;
  width: 50%;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-25%, -50%);
}
.val {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.card.add {
  margin-top: 700px;
}
/* //////////////////////////////////////////////////////////////////////////////////// */
/* contect */
.contect img {
  width: 20%;
  padding-right: 100px;
  padding-bottom: 50px;
}

.address p {
  padding-right: 240px;
}
.contactForm {
  padding-right: 200px;
}
.btn_massege {
  padding: 10px 30px;
}
/* signup */
.all {
  background: #ededee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
.containerer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  width: 75%;
  height: 85vh;
  display: flex;
  align-items: center;
  position: relative;
}
.loge .active_light {
  border-right: 3px solid red !important;
}
.loge .active_off {
  border-right: 3px solid #707070 !important;
}
.signUp-logo-layer {
  width: 20%;
}
.signUp-logo-layer img {
  width: 100%;
  height: 90vh;
}
.signUp-logo {
  width: 20%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(315%, 50%);
}
.signUp-logo img {
  width: 30%;
}

.sign_user {
  position: absolute;
  top: 0;
  padding: 5px;
}
.form-l {
  margin-right: 110px;
  margin-top: -20px;
}
.formbold-form-label {
  margin-bottom: 7px;
  display: block;
}
.formbold-form-input {
  background: rgb(250, 248, 248);
  border-radius: 4px;
  height: 30px;
  border: none;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
/* .j_over {
  background-color: #fff;
  border-radius: 10px;
  opacity: 0.1;
  box-shadow: 0 14px 28px rgba(155, 151, 151, 0.25),
    0 10px 10px rgb(0 0 0 / 22%);
  width: 85%;
  height: 70vh;
  position: absolute;
} */
.btn_sign {
  padding: 12px 120px;
  margin-right: -180px;
  margin-bottom: -50px;
}
.dropdown_num {
  padding: 2px;
}

/* .signUp-text {
  position: relative;
}
.signUp-text .loge {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(60%, 200%);
}
.signUp-text .loge .active_light {
  border-right: 3px solid red !important;
} */

/* تسجيل الدخول */
#g-signin > div {
  border-radius: 0px;
  width: 90% !important;
  -webkit-box-shadow: inset 0 0 0 1px #ddd;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#g-signin > div .abcRioButtonContentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.abcRioButtonContentWrapper {
  height: 100%;
  width: 90%;
}
#g-signin > div .abcRioButtonContentWrapper > .abcRioButtonIcon {
  padding: 0 !important;
  width: 18px;
  height: 18px;
  background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/dashboard/google-icon.9285495463.svg);
  background-size: contain;
}
.abcRioButtonIcon {
  float: left;
}
#g-signin > div .abcRioButtonContentWrapper > .abcRioButtonContents {
  font-family: Roboto, sans-serif;
  margin-left: 15px;
  margin-right: 0px !important;
  line-height: 20px !important;
  color: #757575;
  font-size: 16px;
  letter-spacing: 0.21px;
  display: inline-block;
}
.abcRioButtonContents {
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.21px;
  margin-left: 6px;
  margin-right: 6px;
  vertical-align: top;
}
input {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #db2626;
  color: white;
}

.information_login h6 {
  color: #636363;
  position: relative;
  text-align: center;
  margin-left: 10%;
}
.information_login h6::before {
  left: 0;
}

.information_login h6:before,
.information_login h6:after {
  content: "";
  height: 2px;
  width: 30%;
  background: #d4d4d4;
  position: absolute;
  top: 50%;
  z-index: 2;
}
.information_login h6:after {
  right: 0;
}
.information_login h6:before,
.information_login h6:after {
  content: "";
  height: 2px;
  width: 30%;
  background: #d4d4d4;
  position: absolute;
  top: 50%;
  z-index: 2;
}
.forget_a {
  text-decoration: none !important ;
  color: #d4d4d4;
}
.forget_a:hover {
  text-decoration: none !important ;
  color: #db2626;
}
